/* @tailwind base; */
@tailwind components;
@tailwind utilities;

img {
    max-width: 100%;
}

.link {
    color: var(--primary-color);
    text-decoration: none;
}

.nowrap {
    white-space: nowrap;
}