{{define "content"}}
    <article class="post archive">
        <h1 class="title">归档</h1>

        <div class="entry-content">
            {{range $key, $value := .datas }}
                <h3>{{$key}}&nbsp;({{len $value}})</h3>
                <ul>
                    {{range $value}}
                    <li>
                        <a href="/post/{{.Pathname}}.html" title="{{.Title}}">{{.Title}}</a>&nbsp;
                        <span class="date">{{.CreateTime.Format "2006-01-02 15:04:05"}}}}</span>
                    </li>
                    {{end}}
                </ul>
            {{end}}
        </div>
    </article>
{{end}}