{{define "content"}}
<section id="page-index">
    {{ range .posts }}
        <article class="post">
            <h1 class="title"><a href="/post/{{.Pathname}}.html">{{ .Title }}</a></h1>
            <div class="entry-content">
                {{.Summary}}

                <p class="more">
                    <a href="/post/{{.Pathname}}.html">阅读全文 »</a>
                </p>
            </div>
        </article>
    {{ end}}

    {{ if or .prev .next}}
    <nav class="pagination">
        {{ if .prev }}
            <a class="prev" href="/?page={{.prev}}">上一页</a>
        {{ end }}
        {{ if .next }}
            <a class="next" href="/?page={{.next}}">下一页</a>
        {{ end }}
    </nav>
    {{ end }}
</section>
{{end}}