{{define "content"}}
    <article class="post archive">
        <div class="featured-image">
            <img src="https://www.lilonghe.net/photography/2020-11-XiaMen/DSCF1177_Edit.JPG.thumbnail.jpg" loading="lazy">
        </div>
        <div class="entry-content">
            {{range .datas }}
                <h3>{{.Year}}-{{.Month}}</h3>
                <ul>
                    {{range.List}}
                    <li>
                        <a href="/post/{{.Pathname}}.html" title="{{.Title}}">{{.Title}}</a>&nbsp;
                        <span class="date">{{.CreateTime.Format "2006-01-02 15:04:05"}}</span>
                    </li>
                    {{end}}
                </ul>
            {{end}}
        </div>
    </article>
{{end}}