{{define "content"}}
    <section id="page-post">
        <article class="post detail">
            {{if index .post.PostOptions "featuredImage"}}
                <div class="featured-image">
                    <img src="{{index .post.PostOptions "featuredImage"}}" loading="lazy">
                </div>
            {{end}}
	        <div class="entry-content">{{.post.Content}}</div>
        </article>
        {{if eq .pathname "about"}}
        <div class="comment">
            <h2 class="comment-brand">Leave message</h2>
            <form name="comment">
                <div class="comment-additional">
                    <div>
                        <label>昵称</label>
                        <input name="nickname" maxlength="50" required />
                    </div>
                    <div>
                        <label>邮箱</label>
                        <input name="email" maxlength="50" />
                    </div>
                    <div>
                        <label>网站</label>
                        <input name="site" maxlength="50" />
                    </div>
                </div>

                <div>
                    <label>评论</label>
                    <textarea name="msg" maxlength="200" rows="3" required></textarea>
                </div>
                <input type="submit" />
            </form>
            <div class="comment-list"></div>
            <script>
                function submitComment() {
                    const targetForm = document.forms.comment;
                    const values = {
                        nickname: targetForm.nickname.value,
                        email: targetForm.email.value,
                        site: targetForm.site.value,
                        msg: targetForm.msg.value,
                    }
                    fetch("/comment", { method: 'POST', body: JSON.stringify(values) }).
                        then(res => {
                           return res.json();
                        }).
                        then(res => {
                            if (!res.code) {
                                let message = document.createElement("div")
                                message.className = "message";
                                message.innerText = "Submit success";
                                document.body.append(message);
                                setTimeout(function(){
                                    document.body.removeChild(message);
                                }, 2000);
                                targetForm.reset();
                            }
                    });
                    return false;
                }

                function getAllComment() {
                    fetch("/comments").
                    then(res => {
                        return res.json();
                    }).
                    then(res => {
                        if (res.data) {
                            document.querySelector('.comment-list').innerHTML = `
                                <ul>
                                    ${res.data.map(item => `<li>${item.nickname}: ${item.msg}</li>`).join('')}
                                </ul>
                            `;
                        }
                    });
                }

                addEventListener("load", function () {
                    document.forms.comment.onsubmit = submitComment;
                    getAllComment();
                });
            </script>
        </div>
        {{end}}
    </section>
{{end}}