{{define "content"}}
    <section id="page-post">
        <article class="post detail">
            <h1 class="title">{{.post.Title}}</h1>
            <div class="entry-content">{{.post.Content}}</div>
            <p>本文链接：<a href="{{index .options "site_url"}}/post/{{.post.Pathname}}">{{index .options "site_url"}}/post/{{.post.Pathname}}.html</a></p>
            <p>-- <acronym title="End of File">EOF</acronym> --</p>

            <div class="post-info">
                <p>
                    {{if index .options "author"}}
                        作者
                        <a data-author="{{index .options "author"}}" href="{{index .options "authorlink"}}">
                            <code class="notebook">{{index .options "author"}}</code>
                        </a>
                    {{end}}
                    发表于<i>{{.post.CreateTime.Format "2006-01-02 15:04:05"}}</i>

                    {{if .post.Cates }}
                        ，添加在分类
                            {{range .post.Cates}}
                                <a data-cate="{{.Name}}">
                                    <code class="notebook">{{.Name}}</code>
                                </a>
                            {{end}}
                        下
                    {{end}}

                    {{if .post.Tags }}
                        ，并被添加「
                        {{range .post.Tags}}
                            <a data-cate="{{.Name}}">
                                <code class="notebook">{{.Name}}</code>
                            </a>
                        {{end}}
                        」标签
                    {{end}}

                    ，最后修改于<i>{{.post.UpdateTime.Format "2006-01-02 15:04:05"}}</i>
                </p>

                {{ if .themeConfig.cc }}
                    <p>{{.themeConfig.cc}}</p>
                {{end}}
            </div>
        </article>
    </section>
{{end}}
