* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: monospace;
    font-weight: 300;
}

body, html {
    width: 100%;
    min-height: 100%;
    background-color: #FFF
}

a,a:hover {
    color: #2479CC;
    text-decoration: none;
}

img {
    max-width: 30vw;
    max-height: 50vh;
    border: 1px solid #333;
}

#main {
    background-color: #fff;
    width: 900px;
    max-width: 95%;
    margin: auto;

    padding-top: 40px;
    padding-bottom: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h1,h2,h3 {
    font-weight: 400;
}

article {
    position: relative;
    word-wrap: break-word;
}

article h1.title {
    color: #333;
    font-size: 2em;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.index-post-time {
    color: #CCC;
    margin-bottom: 10px;
    display: block;
    margin-top: -10px;
}

article h1.title a {
    color: #333;
}

article h1.title a:hover {
    color: #2479CC;
    transition: color .3s;
}

article .entry-content {
    font-size: 16px;
    line-height: 1.8;
    word-wrap: break-word;
}

article .entry-content .date {
    color: #999;
    font-size: 14px;
    font-style: italic;
}

article .entry-content :where(p, blockquote, dl, table, iframe, h1, h2, h3, h4, h5, h6, p, pre) {
    margin-top: 15px;
}

article .entry-content :where(ul, ol, dl) {
    margin-left: 35px;
    list-style: nu;
}

article code {
    display: block;
    overflow-x: auto;
    -webkit-text-size-adjust: none;

    font-size: 80%;
    margin: 0 2px;
    padding: 4px 5px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

article .hljs .name {
    display: none;
}

article .hljs ul {
    list-style: nu;
}

article .firekylin-code li:nth-child(2n) {
    background-color: #ECECEC;
}

article .firekylin-code {
    width: 100%;
}

article code {
    display: inline-block;
    padding: 1px 4px;
}

article .post-info {
    font-size: 14px;
    margin-bottom: 15px;
}

article p {
    margin-top: 15px;
}

.toc {
    float: right;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    margin: 0 0 15px 20px;
    max-width: 260px;
    min-width: 260px;
    padding: 6px;
    background: #FFF;
    position: relative;
}

.toc:empty {
    display: none;
}

.toc ul {
    margin-top: 0;
}

#page-index .post {
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 6%), 0 0px 1px 0px rgb(0 0 0 / 10%), 0 0px 5px 0 rgb(91 91 94 / 10%);
    padding: 10px 20px;
    border: 0;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 6px;
}

.post.detail {
    padding-top: 10px;
    border-top: 0;
}

.pagination, .post-url, .more {
    display: none;
}

@media screen and (max-width: 769px) {
    img {
        max-width: 100%;
    }

    .toc {
        float: none;
        margin: 0;
        max-width: 100%;
    }
    
    #main {
        width: 100%;
        max-width: 100%;
        min-height: 100%;
        padding: 20px 10px;
    }

    article {
        background-color: #fff;
    }

    article h1 {
        font-size: 22px;
        padding: 5px 0 10px;
        margin: 0;
    }
}

@media screen and (min-width: 1460px) {
    .toc {
        position: sticky;
        left: 0;
        top: 2px;
        transform: translateX(100%);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        filter: invert(.02);
    }
}
